/**
 * Provides the customized layout styles for the Stephanie Ryall website
 *
 * All customizations to the theme should be made within this file.
 *
 * @package    WordPress
 * @subpackage Dallas Croft
 * @version    0.1
 */

body {
	color: #000;
	max-width: 100%;
	overflow-x: hidden;
}

.site-header,
.site-footer,
.nav-primary {
	background: #000000;
	color: #ffffff;
	border: none;
}

.site-header img.custom-logo {
	display: block;
	margin: 0 auto;
}

.genesis-nav-menu {
	font-weight: normal;
	text-align: center;
}

.genesis-nav-menu a {
	color: #b2b2b2;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 16px;
	padding: 1.2rem 1.6rem;
}

.genesis-nav-menu .menu-item-has-children > a:after {
	content: "\f140";
	font-family: 'dashicons';
	display: inline-block;
	padding-left: 12px;
	padding-left: 1.2rem;
}

.genesis-nav-menu .sub-menu a {
	background: #ffffff;
	color: #000;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
	color: #ffffff;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	background: #000;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu a:focus {
	background: #000;
	color: #ffffff;
}

.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
	text-decoration: underline;
}

.site-inner {
	padding-top: 0;
}

.content {
	padding: 25px;
	padding: 2.5rem;
}

.content h1.entry-title {
	font-size: 48px;
	font-size: 4.8rem;
}

.sidebar-primary .widget-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.content .entry-title,
.sidebar-primary .widget-title {
	text-transform: uppercase;
	font-weight: normal;
	color: #000;
}

.archive-title,
.author-box-title {
	font-size: 48px;
	font-size: 4.8rem;
	text-transform: uppercase;
	font-weight: normal;
}

.sidebar-primary .widget {
	margin-bottom: 0;
}

.sidebar-primary .widget-wrap {
}

.sidebar-primary .widget-wrap > * {
	padding: 25px;
	padding: 2.5rem;
	background: #c4c4c4;
	margin: 0;
}

.sidebar-primary .widget-wrap > .widget-title {
	background: #ffffff;
	margin: 0 -25px;
}

.sidebar-primary .widget.featured-content article {
	padding: 0 25px;
	padding: 0 2.5rem;
}

.sidebar-primary .widget.featured-content article:first-of-type {
	padding-top: 25px;
	padding-top: 2.5rem;
}

.sidebar-primary .widget.featured-content article:last-of-type {
	padding-bottom: 25px;
	padding-bottom: 2.5rem;
}

.sidebar-primary .widget.featured-content .entry-title {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: normal;
	margin-bottom: 0;
}

.sidebar-primary .widget.featured-content p.entry-meta,
.sidebar-primary .widget.featured-content p.entry-meta:last-child {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 10px;
	margin-bottom: 1rem;
}

.sidebar-primary .widget.featured-content .entry-content {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.sidebar-primary div.dsidx-results-widget .dsidx-panel {
	padding: 0 2.5rem;
}

.sidebar-primary div.dsidx-results-widget .dsidx-map,
.sidebar-primary div.dsidx-results-widget .dsidx-list {
	padding-top: 2.5rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: #646464;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 1em 2em;
}

button:hover, 
button:focus, 
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
	background: #333;
}

.sub-footer {
	background: #333;
	color: #b2b2b2;
	font-size: 14px;
	font-size: 1.4rem;
}

.front-feature-listings .flexslider img,
.entry-image,
.wp-post-image {
	border: 2px solid #ffffff;
	box-shadow: 0 0 15px rgba( 0, 0, 0, .7 );
}

.widget-title {
	font-weight: normal;
	font-size: 30px;
	font-size: 3rem;
	color: #000;
	text-transform: uppercase;
	font-style: normal;
}

.featured-content .entry-title {
	font-size: 22px;
	font-size: 2.2rem;
}

.featured-content .entry-title a {
	text-decoration: none;
	color: #000;
}

.featured-content .entry-title a:hover,
.featured-content .entry-title a:focus {
	text-decoration: underline;
	color: #333;
}

.entry {
	font-size: 14px;
	font-size: 1.4rem;
}

.site-footer {
	padding: 0;
	font-size: 12px;
	font-size: 1.2rem;
}

.site-footer > .wrap {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;
}

.footer-widgets {
	flex-basis: 16.66666666666667%;
	flex-grow: 1;
	flex-shrink: 0;
	color: #b2b2b2;
	padding: 25px;
	padding: 2.5rem;
	line-height: 1.3;
}

.footer-widget-area-4 {
	flex-basis: 49%;
	flex-grow: 3;
}

.footer-widgets a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-widgets a:hover, 
.footer-widgets a:focus {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-widgets .menu {
	text-transform: uppercase;
}

.footer-widgets .menu a {
	display: block;
	margin-bottom: 8px;
	margin-bottom: .8rem;
}

.footer-widgets .sub-menu {
	display: none;
}

.footer-widgets .widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 10px;
	margin-bottom: 1rem;
}

.footer-widget-area-3 .widget-title {
	font-size: 12px;
	font-size: 1.2rem;
}

.footer-widgets p {
	margin-bottom: 10px;
	margin-bottom: 1rem;
}

.footer-widgets .gform_wrapper {
	margin: 0;
}

body .footer-widgets .gform_wrapper ul li.gfield {
	margin-top: 0;
}

.footer-widgets .gform_wrapper label.gfield_label {
	text-transform: uppercase;
	font-weight: normal;
}

.footer-widgets .gform_wrapper .gform_body ul.gform_fields {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	align-content: space-between;
	flex-wrap: wrap;
}

.footer-widgets .gform_body .gfield {
	flex-basis: 49%;
	flex-grow: 1;
	flex-shrink: 0;
}

.footer-widgets .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container.gf_name_has_1 label {
	display: none;
}

.white-spider-copyright {
	padding: 15px 0;
	padding: 1.5rem 0;
	font-size: 12px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #b2b2b2;
	text-align: center;
}

@media all and (max-width: 800px) {
	.footer-widget-area-1,
	.footer-widget-area-2 {
		display: none;
	}

	.footer-widget-area-3,
	.footer-widget-area-4 {
		flex-basis: 49%;
		min-width: 300px;
	}

	.footer-widget-area-3 {
		order: 4;
		text-align: center;
	}

	.footer-widget-area-3 .simple-social-icons ul {
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	.footer-widget-area-3 .simple-social-icons ul li {
		display: inline-block;
		float: none;
	}

	.footer-widgets .gform_body .gfield {
		min-width: 275px;
	}
}

@media all and (max-width: 480px) {
	.sub-footer {
		display: none;
	}
}

figure.hero-image {
	padding: 0;
	margin: 0;
}

.hero-image img {
	border: none;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/**
 * Front Page Styles
 */
.home .site-inner {
	border-top: 6px solid #ffffff;
	max-width: 100%;
}

.home .content {
	padding: 0;
}

figure.front-hero {
	margin-bottom: -75px;
	position: relative;
	z-index: 90;
}

figure.front-hero .wp-post-image {
	border: none;
	box-shadow: none;
}

.front-feature-listings {
	position: relative;
	z-index: 91;
	max-width: 100%;
	/*overflow-x: hidden;*/
}

.front-feature-listings > .wrap {
	background: #000;
	border: 4px solid #ffffff;
	box-shadow: 0 0 25px rgba( 0, 0, 0, .7 );
	padding: 25px;
	font-size: 14px;
	text-transform: uppercase;
}

.front-feature-listings .widget-title {
	color: #b2b2b2;
	text-align: center;
}

.front-feature-listings .flexslider {
	background: none;
	border: none;
}

.front-feature-listings .flexslider figure {
	margin: 0;
}

.front-feature-listings .dc-flex-prev,
.front-feature-listings .dc-flex-next {
	width: auto;
	height: auto;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: text-bottom;
}

.front-feature-listings .dc-flex-next:before,
.front-feature-listings .dc-flex-prev:before {
	display: inline-block;
	font-size: 3rem;
	color: #b2b2b2;
	font-family: 'dashicons';
	line-height: 32px;
	padding-left: 10px;
	padding-right: 10px;
}

.front-feature-listings .dc-flex-next:before {
	content: "\f345";
}

.front-feature-listings .dc-flex-prev:before {
	content: "\f341";
}

.front-feature-listings a {
	color: #b2b2b2;
	text-decoration: none;
}

.front-feature-listings a:hover,
.front-feature-listings a:focus {
	color: #ffffff;
	text-decoration: underline;
}

.front-secondary > .wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;
}

.front-secondary .widget {
	flex-basis: 49%;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 0;
	margin: 0;
	min-width: 350px;
}

.front-secondary .widget-title {
	font-size: 3rem;
	color: #000;
	text-transform: uppercase;
}

.front-secondary .widget .widget-wrap {
	padding: 25px;
}

.front-footer {
	background: #c4c4c4;
}

.front-footer > .wrap {
	padding: 25px;
	padding: 2.5rem;
}

.front-footer .entry {
	margin-bottom: 0;
}

.front-footer img {
	max-width: 100px;
	border-radius: 50%;
}

.testimonial blockquote {
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
	font-style: italic;
	font-size: 16px;
	font-size: 1.6rem;
}

.testimonial-attribution {
	font-size: 14px;
	font-size: 1.4rem;
}

.testimonial-attribution .testimonial-name {
	font-weight: bold;
	text-transform: uppercase;
}

.front-footer figure p {
	margin-bottom: 0;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-price-sold {
	background: #000;
	color: #ffffff;
}